[Desktop Entry]
Type=Application

Name=FaFa Runner
Comment=FaFa Runner.
Categories=Game;

Icon=com.chenyifaer.FaFaRunner
Exec=fafarunner %U
Terminal=false
StartupWMClass=fafarunner