<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="FaFa Runner" Manufacturer="Insco LLC" Version="1.0.2.366" UpgradeCode="9e97bd2c-5329-45e7-ad77-34d60acae691">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <!-- Set an icon for Windows Settings > Apps -->
    <Property Id="ARPPRODUCTICON" Value="FaFaRunner.exe" />

    <!-- Block 64-bit Win8/WinServer2012 (or earlier) and all 32-bit from installing -->
    <Launch Message="FaFaRunner only supports 64-bit Windows 10/11!" Condition="Installed OR VersionNT64 >= 603"/>

    <MediaTemplate EmbedCab="yes"/>

    <Feature
        Id="Main"
        Title="FaFaRunner"
        Description="A game developed using flame and bonfire."
        AllowAbsent="no"
        AllowAdvertise="no">
      <!-- Flutter output -->
      <ComponentGroupRef Id="BaseComponents" />
      <ComponentGroupRef Id="DataComponents" />
      <ComponentGroupRef Id="AssetComponents" />
      <ComponentGroupRef Id="FlutterAssetComponents" />
      <ComponentGroupRef Id="FlutterFontComponents" />
      <ComponentGroupRef Id="FlutterLogoComponents" />
      <ComponentGroupRef Id="FlutterPackageComponents" />
      <ComponentGroupRef Id="ShaderComponents" />
    </Feature>
    <Feature
      Id="Shortcut"
      Title="FaFaRunner"
      Description="A game developed using flame and bonfire."
      AllowAbsent="yes"
      AllowAdvertise="no"
      Level="1">
        <ComponentGroupRef Id="BaseComponents" />
        <ComponentRef Id="DesktopShortcutComponent"/>
    </Feature>
  </Package>
</Wix>
