[Desktop Entry]
Name=FaFa Runner
Comment=FaFa Runner
Exec=fafarunner
Icon=${SNAP}/meta/gui/fafarunner.png
Terminal=false
Type=Application
Categories=Game;
StartupNotify=false
